<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Adicionar procedimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-toolbar color="light">
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input [(ngModel)]="form.name"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Dentes:</ion-label>
    <ion-input [(ngModel)]="form.dent"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Estudante:</ion-label>
    <ion-input [(ngModel)]="form.student_id"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Professor:</ion-label>
    <ion-input [(ngModel)]="form.teacher_id"></ion-input>
  </ion-item>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="submit()">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>