<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack(id)">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detalhes do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p *ngIf="!user" class="ion-margin-start">Nenhum resultado encontrado.</p>

  <div  *ngIf="user">
    <ion-toolbar color="light">
      <ion-title>Dados do Paciente</ion-title>
    </ion-toolbar>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome completo:</ion-label>
        <p>{{ user.form.name }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

