<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Usuários</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreate()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="list.length === 0" class="text-center">Nenhum resultado encontrado.</p>
  <ion-list *ngIf="list.length > 0">
    <ion-item *ngFor="let item of list">
      <ion-avatar slot="start">
        <img src="/assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
