<ion-content padding center text-center>
  <div id="container">
    <ion-text color="dark" center>
      <h3><b> OdontoPront</b></h3>
      <p>
         Ola, informe seu e-mail e senha para entrar a plataforma:
      </p>
    </ion-text>
 

    <ion-item>
       <ion-label position="stacked">Email:</ion-label>
       <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Password:</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block"  (click)="login()">
        entrar
    </ion-button>
    <p>Esqueceu a senha? <a (click)="goTosenhaPage()">Clique aqui</a>
    </p>
  </div>  
</ion-content>