<ion-content center>
  <div id="container">
    <ion-text color="dark">
      <h3>OdontoPront</h3>
      <p>
         Olá, informe seu e-mail e senha para entrar na plataforma:
      </p>
    </ion-text>

    <ion-item class="ion-no-padding">
       <ion-label position="stacked">Email:</ion-label>
       <ion-input [(ngModel)]="credentials.email"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked" >Password:</ion-label>
      <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block"  (click)="login()" class="ion-margin-top">
        Entrar
    </ion-button>
    <p class="ion-text-center ion-margin-top">Esqueceu a senha? <a (click)="goToForgotPassword()">Clique aqui</a>
    </p>
  </div>  
</ion-content>