<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detalhes do paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="ion-margin-start">Informações gerais</h4>

  <p *ngIf="!contato" class="ion-margin-start">Nenhum resultado encontrado.</p>

  <ion-list >
    <ion-item >
      <ion-label> 
          <div *ngIf="contato">
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Nome completo:</ion-label>
                <h3>{{ contato.name }}</h3>
              </ion-item>
                
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Documento de idenfiticação:</ion-label>
                <h3>{{ contato.document }}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Data de nascimento:</ion-label>
                <h3>{{ contato.birth_date }}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Genero:</ion-label>
                <h3>{{ contato.gender }}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Cor de pele:</ion-label>
                <h3>{{ contato.skin_color}}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Cidade de nascimento:</ion-label>
                <h3>{{ contato.birth_city }}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Estado civil:</ion-label>
                <h3>{{ contato.marital_status }}</h3>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Telefone:</ion-label>
                <h3>{{ contato.mobile }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Profissao:</ion-label>
                <h3>{{ contato.occupation }}</h3>
              </ion-item>
            
              <h2>Endereço Residêncial</h2>
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Rua:</ion-label>
                <h3>{{ contato.address.street }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Numero:</ion-label>
                <h3>{{ contato.address.number }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Lagadouro:</ion-label>
                <h3>{{ contato.address.complement }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Bairro:</ion-label>
                <h3>{{ contato.address.neighborhood }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Cidade:</ion-label>
                <h3>{{ contato.address.city }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Estado:</ion-label>
                <h3>{{ contato.address.uf }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">CEP:</ion-label>
                <h3>{{ contato.address.postcode }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Celular:</ion-label>
                <h3>{{ contato.address.phone }}</h3>
              </ion-item>
              
              <h2>Endereço Comercial</h2>
        
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Logradouro:</ion-label>
                  <h3>{{ contato.commercial_address.street }}</h3>
                </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Número:</ion-label>
                  <h3>{{ contato.commercial_address.number }}</h3>
                </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Complemento:</ion-label>
                <h3>{{ contato.commercial_address.complement }}</h3>
                </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Bairro:</ion-label>
                  <h3>{{ contato.commercial_address.neighborhood }}</h3>
                </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Cidade:</ion-label>
                  <h3>{{ contato.commercial_address.city }}</h3>
                </ion-item>
            
                <ion-item class="ion-margin-bottom">
                  <ion-label position="stacked">Estado:</ion-label>
                  <h3>{{ contato.commercial_address.uf }}</h3>
                </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Código postal:</ion-label>
                <h3>{{ contato.commercial_address.postcode }}</h3>
              </ion-item>
            
              <ion-item class="ion-margin-bottom">
                <ion-label position="stacked">Telefone:</ion-label>
                <h3>{{ contato.commercial_address.phone }}</h3>
              </ion-item>
            </div>
        </ion-label>
      </ion-item>
  </ion-list>  
</ion-content>
