<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detalhes do paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="ion-margin-start">Informações gerais</h4>
</ion-content>

<ion-content>
  <!-- <p *ngIf="patients.length === 0" class="ion-margin-start">Nenhum resultado encontrado.</p>
  <ion-list *ngIf="patients.length > 0">
    <ion-item *ngFor="let item of patients">
      <ion-label> -->
        <div *ngIf="patients">
          <h2>{{ patients.name }}</h2>
          <p>{{ patients.address.city}}, {{ patients.address.uf }}</p>
        </div>
      <!-- </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>