<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Adicionar prontuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <ion-title>Paciente</ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input [(ngModel)]="patient.name" disabled="disabled"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Anamnese</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Queixa principal (QP):</ion-label>
    <ion-input [(ngModel)]="form.main_complaint"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">História da doença atual (HD):</ion-label>
    <ion-input [(ngModel)]="form.disease_history"></ion-input>
    <p class="ion-text-muted ion-text-small">(Localização; início; duração; freqüência dos episódios; sintomas associados; tratamento instituídos; possível causa)</p>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>História médica</ion-title>
  </ion-toolbar>

  <div class="ion-block ion-padding-horizontal ion-margin-vertical" *ngFor="let question of questions.medical">
    <ion-checkbox [(ngModel)]="form.answers[question.id].value" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">{{ question.title }}</span>
    <ion-input [(ngModel)]="form.answers[question.id].observations" placeholder="Observações"></ion-input>
  </div>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Está fazendo uso de algum medicamento não especificado?</ion-label>
    <ion-input [(ngModel)]="form.using_medicine"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Há alguma outra informação que julgue necessária o informar?</ion-label>
    <ion-input [(ngModel)]="form.other_information"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">História familiar:</ion-label>
    <ion-input [(ngModel)]="form.family_history"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">História social e psicológica:</ion-label>
    <ion-input [(ngModel)]="form.social_psychological_history"></ion-input>
    <p class="ion-text-muted ion-text-small">Atividade física; jornada de trabalho; relação familiar,condições de moradia</p>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>História odontológica</ion-title>
  </ion-toolbar>

  <div class="ion-block ion-padding-horizontal" *ngFor="let question of questions.dental">
    <ion-checkbox [(ngModel)]="form.answers[question.id].value" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">{{ question.title }}</span>
    <ion-input [(ngModel)]="form.answers[question.id].observations" placeholder="Observações"></ion-input>
  </div>

  <ion-toolbar color="light">
    <ion-title>Exame físico</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Avaliação geral:</ion-label>
    <ion-input [(ngModel)]="form.general_evaluation"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Pulso (bpm):</ion-label>
    <ion-input [(ngModel)]="form.measurement.pulse"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Tensão sistólica (mmHg):</ion-label>
    <ion-input [(ngModel)]="form.measurement.systolic"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Tensão diastólica (mmHg):</ion-label>
    <ion-input [(ngModel)]="form.measurement.diastolic"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Avaliação da região da cabeça e pescoço:</ion-label>
    <ion-input [(ngModel)]="form.head_neck_evaluation"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Linkfonodos:</ion-label>
    <ion-input [(ngModel)]="form.lymph_nodes"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Exame Intrabucal</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Partes moles:</ion-label>
    <ion-input [(ngModel)]="form.examination.soft_parts"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Localização da lesão:</ion-label>
    <ion-input [(ngModel)]="form.examination.injury_location"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Tamanho:</ion-label>
    <ion-input [(ngModel)]="form.examination.size"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Cor:</ion-label>
    <ion-input [(ngModel)]="form.examination.color"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Forma:</ion-label>
    <ion-input [(ngModel)]="form.examination.shape"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Inserção:</ion-label>
    <ion-input [(ngModel)]="form.examination.insertion"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Consistência:</ion-label>
    <ion-input [(ngModel)]="form.examination.consistency"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Mobilidade:</ion-label>
    <ion-input [(ngModel)]="form.examination.mobility"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sinais secundários:</ion-label>
    <ion-input [(ngModel)]="form.examination.secundary_signals"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Outras alterações</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Lábios:</ion-label>
    <ion-input [(ngModel)]="form.lips"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Língua:</ion-label>
    <ion-input [(ngModel)]="form.tongue"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Mucosa jugal:</ion-label>
    <ion-input [(ngModel)]="form.cheek_mucous"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Gengiva:</ion-label>
    <ion-input [(ngModel)]="form.gum"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Assoalho bucal:</ion-label>
    <ion-input [(ngModel)]="form.oral_floor"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Palato duro:</ion-label>
    <ion-input [(ngModel)]="form.hard_palate"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Palato mole:</ion-label>
    <ion-input [(ngModel)]="form.soft_palate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Orofaringe:</ion-label>
    <ion-input [(ngModel)]="form.oropharynx"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Odontograma</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-grid class="ion-no-margin" style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">18</ion-label>
          <ion-select interface="action-sheet" class="ion-select" class="ion-select" [(ngModel)]="form.teeth[18]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">17</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[17]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">16</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[16]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">15</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[15]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">14</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[14]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">13</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[13]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">12</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[12]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">11</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[11]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid class="ion-no-margin" style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">21</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[21]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">22</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[22]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">23</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[23]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">24</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[24]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">25</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[25]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">26</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[26]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">27</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[27]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">28</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[28]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid class="ion-no-margin" style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">48</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[48]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">47</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[47]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">46</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[46]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">45</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[45]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">44</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[44]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">43</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[43]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">42</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[42]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">41</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[41]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid class="ion-no-margin" style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">31</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[31]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">32</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[32]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">33</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[33]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">34</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[34]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">35</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[35]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">36</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[36]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">37</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[37]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" class="ion-text-small">38</ion-label>
          <ion-select interface="action-sheet" class="ion-select" [(ngModel)]="form.teeth[28]">
            <ion-select-option *ngFor="let item of toothStatus" value="{{item.value}}">{{ item.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Observações:</ion-label>
    <ion-input [(ngModel)]="form.observation"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Exames complementares:</ion-label>
    <ion-input [(ngModel)]="form.complementary_exams"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Sumário de diagnóstico</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Suspeita clínica:</ion-label>
    <ion-input [(ngModel)]="form.diagnostic.clinical_suspicion"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Diagnóstico Histopatológico:</ion-label>
    <ion-input [(ngModel)]="form.diagnostic.histopathological_diagnosis"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Prognóstico:</ion-label>
    <ion-input [(ngModel)]="form.diagnostic.prognosis"></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Encaminhamento</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-checkbox [(ngModel)]="form.referral.dentistry" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Dentística</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Cururgia (Unidades):</ion-label>
    <ion-input [(ngModel)]="form.referral.surgery"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.referral.periodontics" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Periondontia</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Radiografia (Unidades):</ion-label>
    <ion-input [(ngModel)]="form.referral.radiography"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.referral.pediatric_dentistry" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Odontopediatria</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="stacked">Endodontia (Unidades):</ion-label>
    <ion-input [(ngModel)]="form.referral.endodontics"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="form.referral.orthodontics" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Ortodontia</span>
  </ion-item>

  <ion-toolbar color="light">
    <ion-title>Prósteses</ion-title>
  </ion-toolbar>

  <ion-item class="ion-margin-bottom ion-margin-top">
    <ion-label position="stacked">Prótese (Unidades):</ion-label>
    <ion-input [(ngModel)]="form.prosthesis.fixed"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.prosthesis.removable_top" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Prótese removível superior</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.prosthesis.removable_bottom" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Prótese removível inferior</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.prosthesis.full_top" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Prótese total superior</span>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-checkbox [(ngModel)]="form.prosthesis.full_bottom" class="ion-margin-end"></ion-checkbox> <span class="ion-text-small">Prótese total inferior</span>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="submit()">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>

