<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Alterar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Senha atual:</ion-label>
    <ion-input type="password" [(ngModel)]="credentials.current_password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nova senha:</ion-label>
    <ion-input type="password" [(ngModel)]="credentials.new_password"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="updatePassword()">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>