<ion-content center>
    <div id="container">
        <ion-text color="dark">
            <h3>OdontoPront</h3>
            <p>
                Olá, informe seu e-mail e código de matrícula e enviaremos uma nova senha para a sua caixa de entrada:
            </p>
        </ion-text>

        <ion-item class="ion-no-padding">
            <ion-label position="stacked">Email:</ion-label>
            <ion-input [(ngModel)]="credentials.email"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
            <ion-label position="stacked" >Código de matrícula:</ion-label>
            <ion-input [(ngModel)]="credentials.code"></ion-input>
        </ion-item>

        <ion-button color="primary" expand="block"  (click)="forgotPassword()" class="ion-margin-top">
            Enviar
        </ion-button>
        <p class="ion-text-center ion-margin-top">Voltar para o <a (click)="goToLogin()">Login</a>
        </p>
    </div>
</ion-content>